{% extends 'base.html.twig' %}

{% block title %}Test technique - Inscription{% endblock %}

{% block body %}

<div class="container">
    <h1>Inscrivez-vous</h1>

    <div class="container">
        {{form(form)}}
    </div>
</div>
{% endblock %}
