body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 1.5rem;
}

nav {
    background-color: #5B374D;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 24px 29px -3px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: #000;
}

h1 a {
    color:#EBF2FA;
    margin: 0;
    padding: 0.5rem;
}

div.box {
    padding: 3rem 3rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.box-message {
    color: green;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-btn {
    width: 30%;
    display: flex;
    justify-content: center;
}

div.container {
    width: 90%;
    margin: auto;
    height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #ffe590;
}

.btn:hover {
    background-color: #FFD754;
}

.scroll {
    box-shadow:  13px 20px 12px rgba(0, 0, 0, 0.1);
    height: fit-content;
    max-height: 70%;
    overflow-y: scroll;
    margin: 3rem;
    border-radius: 1rem;
}

table {
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
}

table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #5B374D;
    color: #EBF2FA ;
}

table th,
table td {
    padding: 0.5rem;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #EBF2FA;
}

/******* CREATE *******/

.container-create {
    height: fit-content;
    width: 50%;
    padding: 1rem;
    box-shadow:  13px 20px 12px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin: auto;
    background-color: #F0F0F0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input,
.form-group select {
    padding: 0.5rem;
    border-radius: 25px;
    border: solid 1px #5B374D;
}

.form-group label {
    padding: 1rem 0 0.5rem 0;
}

#task_save {
    background-color: #A4BD01;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.save-btn {
    display: flex;
    align-items: flex-end;
    padding: 3rem 1rem 1rem 0;
}