{% extends "base.html.twig" %}

{% block title  %}Test technique - Accueil{% endblock %}

{% block body %}

    <div class="container container-home">
        <h1>Bienvenue sur votre application de gestion de tâches !</h1>
        <a class="btn btn-home" href="{{ path('security_login')}}">Me connecter</a>
        <a class="btn btn-home" href="{{ path('security_registration')}}">M'inscrire</a>
    </div>
{% endblock %}


